<div class="text-center">
  <h1 class="mb-5 mt-5">Home Page</h1>
  <div class="card text-center m-auto" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title mb-5">Welcome</h3>
      <a href="/users/register" class="card-link"
        ><button class="btn btn-primary">Register</button>
      </a>
      <a href="/users/login" class="card-link"
        ><button class="btn btn-secondary">Login</button></a
      >
    </div>
  </div>
</div>
